.container {
  width: 226px;
  height: 436px;
  position: relative;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: -20px;
  right: -50px
}

.free {
  margin: 0;
  padding-top: 17px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 54.3487px;
  text-align: center;
  color: #F69180;
}

.coffeetext {
  margin: 0;
  text-align: center;
  line-height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 36.2325px;
  color: #9B815D;
}

.enjoytoday {
  margin: 0;
  margin-top: 2px;
  text-align: center;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #8C8C8C;
}
